html {
    margin-bottom: 100px;
}

body {
    background-image: url(images/hallway.jpg);
}
/* the bottom left links - Github, Linkedin, Resume */
.row a {
    margin-right: 30px;
    color: white;
    padding: 0;
}

.brandName-contact {
    color: #3e2723;
    font-size: 30px;
    font-weight: Bold;
    padding-top: 0px;
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.brandName-portfolio{
    float: center;
    margin-right: 150px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100px;
    padding-top: 10px;
    color: #3e2723;
}

.brandName-aboutme {
    color: #3e2723;
    font-size: 30px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 40px;
    margin-left: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
/* h1 - pages */
.block-header-contact {
    color: #3e2723;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 80px;
    margin-left: 500px;
}

.block-header-portfolio {
    color: #3e2723;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-left: 600px;
    padding: 0;
}

.block-header-aboutme {
    color: #3e2723;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
}

#about-image {
    float: right;
    width: 500px;
    /* border-radius: 80%; */
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    /* -webkit-filter: grayscale(100%); */
    /* filter: grayscale(100%); */
}

footer {
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    padding-bottom: 0px;
    border-top: 8px solid gray;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    color: #dddddd;
    position: fixed;
    background-color: #3e2723;
}

#form-msg {
    line-height: 100px;
    width: 100%;
}

.submit-btn {
    background-color: #3e2723;
    margin-left: 15px;
    color: white;
}

.phone {
    margin-left: 30px;
}

.right {
    padding: 0;
    margin: 0;
    width: 400px;
    float: right;
}
/* removed bullet points */
.right ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    float: right;
}
/* all buttons except about */
.right ul li {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
}

/* the buttons on the right bottom of the page */
.right ul li a {
    float: right;
    margin: 0;
    padding: 13px 10px;
    text-decoration: none;
    border: 1px solid #000;
    line-height: 30px;
    color: white;
    position: flex;
}

/* color for portfolio links */
a.link-github {
    color: #3e2723;
}

.column1 {
    margin: 0;
    padding: 0;
    float: left;
    width: 400px;
    height: 100%;
}

.container-form {
    padding-top: 40px;
    margin-left: 70px;
}

.form-horizontal {
    margin-left: 150px;
}

.contact-line {
    width: 930px;
}

.container-portfolio {
    margin-top: 140px;
    height: 100px;
}

p {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.bottom-page {
    color: white;
    padding: 20px;
    line-height: 20px;
    
}